<div class="home-content">
    <div class="content">
        <div class="text">
            <h3 *ngIf="data">Hello! I'm  {{data.firstName}} {{data.middleName}} {{data.lastName}}</h3>
            <p class="display-4">I'm a Software developer.</p>
        </div>
        <div class="contact-links">
            <ul>
                <li>
                    <i class="fa-brands fa-github"></i>
                </li>
                <li>
                    <i class="fa-regular fa-envelope"></i>
                </li>
                <li>
                    <i class="fa-solid fa-phone"></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="background-pic">
    </div>
</div>